<!DOCTYPE html>
<html>
  <head>
    <title>Formulário HTML</title>
  </head>
  <body>
    <h1>Formulário HTML</h1>
    <form id="meuFormulario" action="/submit" method="post">
      <label for="nome">Nome:</label><br />
      <input type="text" id="nome" name="nome" /><br />
      <!-- Adicionando um botão para enviar o formulário -->
      <button type="button" onclick="enviarFormulario()">Enviar</button>
    </form>
    <p>{{ mensagem }}</p>

    <script>
      function enviarFormulario() {
        var formulario = document.getElementById('meuFormulario')
        formulario.submit() // Envie o formulário quando o botão for clicado
      }
    </script>
  </body>
</html>
