<!DOCTYPE html>
<html>
  <head>
    <title>Lista de laboratórios</title>
    <link
      href="{{ url_for('static', filename='style.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>Lista de laboratórios:</h1>
    <div class="wrapper">
      <div>
        <ul>
          {% for item in mensagem %}
          <li>{{ item[2]}}</li>
          {% endfor %}
        </ul>
      </div>
      <div>
        <ul>
          <li><h2>Status</h2></li>
          {% for item in ativo %}
          <li>{{item}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </body>
</html>
