body{
    background-color: #1f2122;
    font-family: 'Poppins', sans-serif;
}
li{
    color: aliceblue;
    text-align: center;
}
a{
    text-decoration: none;
    color: #ec6090;
}

a:hover{
    color: #fff;
}

ul{
    list-style: none;
}

body, header{
    margin: 0;
    padding: 0;
}

.main-nav{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.logo img{
    width: 250px;
    margin: 20px;
    margin-top: -10px;
}

.button{
    background-color: #ec6090;
    color: #fff;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    margin: 20px;
    margin-right: 70px;
}

.container{
    display: flex;
    justify-content: center;

}

h1, h4{
    color: #ec6090;
}

h1{
    text-align: center;
    font-size: 3em;
}

label{
    font-size: 1.5em;
}

input{
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

button{
    display: block;
    margin: auto;
    margin-top: 50px;
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    background-color: #35cf21;
    border: none;
    color: #fff;
    font-size: 1.2em;
}

button:hover, .button:hover{
    cursor: pointer;
    background-color: #fff;
    color: black;
}

form p{
    text-align: center;
}

.d{
    display: inline-block;
}

.dual{
    display: block;
}

button{
    margin: 10px;
    width: 139.587px;
}