<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, initial-scale=1.0, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
    href="{{ url_for('static', filename='style.css') }}"
    rel="stylesheet"
  />

    <title>Cadastro Lab</title>
    <link rel="icon" type="image/x-icon" href="../assets/images/favicon.png" />

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../assets/css/fontawesome.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body>
    <header>
      <nav class="main-nav">
        <!-- ***** Logo Start ***** -->
        <a href="index.html" class="logo">
          <img src="../assets/images/lab.png" alt="" />
        </a>
        <!-- ***** Logo End ***** -->
        <!-- ***** Menu Start ***** -->
        <ul class="nav">
          <li><a href="index.html" class="button">Home</a></li>
        </ul>
      </nav>
    </header>
    <div class="container">
      <div class="login-container">
        <h1>Cadastro</h1>
        <form action="/submit/cadastro/lab" method="post">
          <div class="dual">
            <div class="d">
              <label for="andar"
                ><h4><em>andar:</em></h4></label
              >
              <input
                type="text"
                id="andar"
                name="andar"
                placeholder="Digite o número do andar"
                required
              />
            </div>

            <div class="d">
              <label for="lab"
                ><h4><em>laboratório:</em></h4></label
              >
              <input
                type="text"
                id="lab"
                name="lab"
                placeholder="Digite o nome do laboratório"
                required
              />
            </div>
          </div>
          <div class="dual">
            <div class="d">
              <label for="description"
                ><h4><em>Descrição:</em></h4></label
              >
              <input
                type="description"
                id="description"
                name="description"
                placeholder="Digite a descrição do laboratório"
                required
              />
            </div>          
          <button type="submit">Cadastrar laboratório</button>
        </form>
      </div>
    </div>
  </body>
</html>
